We probably remember that we are working with 4-d data, where the dimensions are TIME x DEPTH x LAT x LON. 

The goal for this notebook is to loop through all the times and write the dates in YEARMONTHDAY format.

In [1]:
import numpy as np
from netCDF4 import Dataset
import datetime as td

Before we look at our data, here is an example of working with date and timedelta. Say you want to find out the date 10 years after March 9th, 2020:

In [2]:
march_9_2020 = td.date(2020,3,9)
print(march_9_2020)

2020-03-09

In [3]:
ten_years = td.timedelta(days =10*365) # this doesn't consider leap years

In [4]:
date_in_10_years = ten_years + march_9_2020
print(date_in_10_years)

2030-03-07

-------------------
# Now let's look at our data

The first thing is to import the dataset as a Dataset object

In [5]:
#do that here:
dataset = Dataset(r'/Users/brownscholar/Desktop/Intern_Git/Downloads/dataset-armor-3d-rep-weekly_1574699840388.nc')

Then we want to read in the time variable. Do that here:

In [6]:
# do that here:
time = dataset['time']

Print the shape of the time variable:

In [7]:
# do that here:
print(time)

<class 'netCDF4._netCDF4.Variable'>
int32 time(time)
    units: hours since 1950-01-01
    _CoordinateAxisType: Time
    axis: T
    long_name: time
    standard_name: time
    calendar: gregorian
    valid_min: 377064
    valid_max: 604704
unlimited dimensions:
current shape = (1356,)
filling on, default _FillValue of -2147483647 used

Before we start using datetime, in terminal (open a new window or tab) look at the units of time. Using this info, define a start date:

In [11]:
# do this here
start = td.date(1950,1,1)

Now, looping through the time numpy array, calculate and print the date using timedelta:

In [13]:
# do this here
for i in time:
    hours = td.timedelta(hour = i)
    print()

SyntaxError: unexpected EOF while parsing (<ipython-input-13-e8d0c0bed757>, line 3)

--------------------
# Finally,
we want to turn these date objects into strings that are of the form YEARMONTHDAY. Here is an example of how to do this using the ``march_9_2020`` date we made before:

In [ ]:
print(march_9_2020.strftime("%y") + march_9_2020.strftime("%m") + march_9_2020.strftime("%d"))

# if this is confusing to you google the function "strftime"

Add this to your loop and print the YEARMONTHDAY date for each date.

Now: How can we add this to our code to change our file names?